
.servicios-box{
    margin-top: 50px;
    min-height: 600px;
margin-bottom: 100px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
background: url("../../assets/imagenes/redd-f-vUwJ8uu_C1M-unsplash.jpg");
background-size: cover;


}

.servicios-head{
text-align: center;
font-size: 2.7rem;
font-family: 'Poppins', sans-serif;
color: #212529;
font-weight: bold;


}
.servicio-article-container{
    
 
    padding: 15px;
    padding-bottom:150px ;   
    min-height: 250px;
    max-height: 300px;
    max-width: 400px;
    min-width: 150px;
    margin: 10px 10px;
    text-align: center;
    background-color: #495057;
color: #fff;
border-radius: 20px;

             
}
.servicios-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 0 2%;
  


  

}
.servicio-title-container{
    display: flex;
    justify-content: center;
    
}
.servicio-title-container span{
    margin-left: 5px;
}
.text-servicio{
    font-weight: 100;
    margin-top: 10px;
    margin: 15px 35px;
    height: 200px;

}
.text-servicio ul{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
text-align: center;

}